In [15]:
import pandas as pd
import re

In [2]:
df = pd.read_csv(r'C:\Users\wilko\Desktop\Studia\Projekty swoje\Python\Machine learning\NLP-text-classification\data\descriptions\opisy.csv', header=0)

In [3]:
df.head()

   Label                                               Opis
0    NaN  Mieszkania znajdują  się przy ulicy Srebrzyńsk...
1    NaN  Mieszkania znajdują się  zmodernizowanym w 201...
2    NaN  Budynek jest  trzypiętrowy (oddany do użytkowa...
3    NaN  Do wynajęcia wygodne dwa pokoje przy Wyścigach...
4    NaN  Nowoczesna kawalerka po generalnym remoncie - ...

In [4]:
df_unfurnitured = df[df['Opis'].str.contains(r"\bbez mebli\b", case=False, regex=True) | 
            df['Opis'].str.contains(r"\bnie jest umeblowane\b", case=False, regex=True) |
            df['Opis'].str.contains(r"\bbrak mebli\b", case=False, regex=True) |
            df['Opis'].str.contains(r"\bnieumeblowane\b", case=False, regex=True) |
            df['Opis'].str.contains(r"\bbrak wyposażenia\b", case=False, regex=True) |
            df['Opis'].str.contains(r"\bbez umeblowania\b", case=False, regex=True) |
            df['Opis'].str.contains(r"\bnieumeblowana przestrzeń\b", case=False, regex=True) |
            df['Opis'].str.contains(r"\bnieurządzone\b", case=False, regex=True) |
            df['Opis'].str.contains(r"\bnie umeblowane\b", case=False, regex=True) | 
            df['Opis'].str.contains(r"\bbrak umeblowania\b", case=False, regex=True) |
            df['Opis'].str.contains(r"\bpuste\b", case=False, regex=True) |
            df['Opis'].str.contains(r"\bnie jest urządzone\b", case=False, regex=True) 
            ]
df_unfurnitured

      Label                                               Opis
18      NaN  Wygodne, rozkładowe, częściowo umeblowane mies...
22      NaN  Do wynajęcia trzypokojowe mieszkanie na Mokoto...
36      NaN  LEX NIERUCHOMOŚCI MARTA KOSMOWSKA TEL.Do wynaj...
54      NaN  Piękne trzy pokojowe mieszkanie usytuowane w n...
70      NaN  Ciekawe urządzone mieszkanie w dobrej lokaliza...
...     ...                                                ...
9650    NaN  Klimatyczne, przestronne 3 pokojowe mieszkanie...
9695    NaN  Jeśli szukasz mieszkania w bezpiecznym, zielon...
9699    NaN  Jeśli szukasz mieszkania w bezpiecznym, zielon...
9867    NaN  Bardzo ładne, 2-pokojowe jasne i ciche mieszka...
9876    NaN  |    Oferuję do wynajęcia powierzchnie mieszka...

[268 rows x 2 columns]

In [5]:
df_semifurnitured= df[df['Opis'].str.contains(r"\bczęściowo umeblowane\b", case=False, regex=True)]
df_semifurnitured

      Label                                               Opis
13      NaN  Do wynajęcia mieszkanie dwupokojowe z ogródkie...
18      NaN  Wygodne, rozkładowe, częściowo umeblowane mies...
116     NaN  Do wynajęcia mieszkanie 70m z tarasem o powier...
120     NaN  Na wynajem - jasne i przytulne mieszkanie dwup...
261     NaN  [PL/EN]           Piękne, stylowe i wysmakowan...
...     ...                                                ...
9718    NaN  Do wynajęcia mieszkanie dwu pokojowe w Tomaszo...
9776    NaN  3-pok. | 62 m2 | Balkon | Miejsce parkingowe |...
9840    NaN  [ENGLISH BELOW]Do wynajęcia 3-pokojowe mieszka...
9905    NaN  Do wynajmu 2 pokojowe mieszkanie 50m2 z anekse...
9920    NaN  Do wynajęcia bardzo ładne, dwupokojowe mieszka...

[249 rows x 2 columns]

In [8]:
pattern = r'\b(?!nieumeblowane|częściowo)\S*\s*umeblowane\b'
df_furnitured = df[df['Opis'].str.contains(pattern, case=False, regex=True)][:250]
df_furnitured

     Label                                               Opis
2      NaN  Budynek jest  trzypiętrowy (oddany do użytkowa...
6      NaN  LEX NIERUCHOMOŚCI MARTA KOSMOWSKA TEL.Do wynaj...
7      NaN  LEX NIERUCHOMOŚCI MARTA KOSMOWSKA TEL.Mieszkan...
8      NaN  LEX NIERUCHOMOŚCI MARTA KOSMOWSKA TEL.Do wynaj...
10     NaN  We speak ENG/ UA/ RUPrzytulne mieszkanie z duż...
..     ...                                                ...
826    NaN  Oferuję do wynajęcia 3 pokojowe mieszkanie o p...
828    NaN  Zamieszkaj w klimatycznym, modernistycznym bud...
830    NaN  ŻOLIBORZ - ul. GERMAN / RYDYGIERA - 2 POKOJE 4...
834    NaN  KOMFORTOWO ZAPROJEKTOWANE MIESZKANIE Z ODDZIEL...
837    NaN  Fundusz Mieszkań na Wynajem oferuje do wynajęc...

[250 rows x 2 columns]

#### Opis klas
- nieumeblowane: 0
- umeblowane: 1
- częściowo umeblowane: 2

In [9]:
df_unfurnitured['Label'] = df_unfurnitured['Label'].where(df_unfurnitured['Label'] == 'NaN', 0).astype(int) 
df_furnitured['Label'] = df_furnitured['Label'].where(df_furnitured['Label'] == 'NaN', 1).astype(int)
df_semifurnitured['Label'] = df_semifurnitured['Label'].where(df_semifurnitured['Label'] == 'NaN', 2).astype(int)

C:\Users\wilko\AppData\Local\Temp\ipykernel_3608\766959473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unfurnitured['Label'] = df_unfurnitured['Label'].where(df_unfurnitured['Label'] == 'NaN', 0).astype(int)
C:\Users\wilko\AppData\Local\Temp\ipykernel_3608\766959473.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_semifurnitured['Label'] = df_semifurnitured['Label'].where(df_semifurnitured['Label'] == 'NaN', 2).astype(int)

In [11]:
df_combined = pd.concat([df_semifurnitured, df_furnitured, df_unfurnitured], ignore_index=True)
df_combined

     Label                                               Opis
0        2  Do wynajęcia mieszkanie dwupokojowe z ogródkie...
1        2  Wygodne, rozkładowe, częściowo umeblowane mies...
2        2  Do wynajęcia mieszkanie 70m z tarasem o powier...
3        2  Na wynajem - jasne i przytulne mieszkanie dwup...
4        2  [PL/EN]           Piękne, stylowe i wysmakowan...
..     ...                                                ...
762      0  Klimatyczne, przestronne 3 pokojowe mieszkanie...
763      0  Jeśli szukasz mieszkania w bezpiecznym, zielon...
764      0  Jeśli szukasz mieszkania w bezpiecznym, zielon...
765      0  Bardzo ładne, 2-pokojowe jasne i ciche mieszka...
766      0  |    Oferuję do wynajęcia powierzchnie mieszka...

[767 rows x 2 columns]

In [14]:
df_combined.to_csv(r'C:\Users\wilko\Desktop\Studia\Projekty swoje\Python\Machine learning\NLP-text-classification\data\descriptions\training_data.csv', index=None, header=True)